{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Lupa Kata Sandi Anda?
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column  text-center">
    <h1>Lupa Kata Sandi Anda?</h1>
    <p>Masukkan email Anda dibawah ini, dan sistem akan mengirim email berupa instruksi untuk membuat kata sandi baru.</p>
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex flex-column align-items-center">
            <input type="submit" value="Kirim Instruksi!" class="btn btn-primary">
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock content %}
