{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Ganti Kata Sandi
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column align-items-center">
    <h2>Ganti Kata Sandi</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex flex-column align-items-center" text-align="center">
        <button type="submit" class="btn btn-primary">Ganti Kata Sandi</button>
      </div>
    </form>
  </div>
{% endblock content %}
