{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Masukkan Kata Sandi Baru
{% endblock title %}
{% block content %}
  {% if validlink %}
    <div class="d-flex flex-column align-items-center">
      <h1>Buat Kata Sandi Baru!</h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex flex-column align-items-center">
          <input type="submit" value="Ubah Kata Sandi Saya" class="btn btn-primary">
        </div>
      </form>
    </div>
  {% else %}
    <p>Linknya sudah tidak valid, kemungkinan karena sudah digunakan. Mohon ajukan reset kata sandi lagi.</p>
  {% endif %}
{% endblock content %}
