{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Daftar
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column align-items-center">
    <h2>Daftar</h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex flex-column align-items-center" text-align="center">
        <p>
          Sudah punya akun? Login <a href="{% url "login" %}">disini</a>!
        </p>
        <button type="submit" class="btn btn-primary">Daftar</button>
      </div>
    </form>
  </div>
{% endblock content %}
