crispy-bootstrap5==2023.10
Django==4.2.8
django-crispy-forms==2.1
indonlp==0.3.4
joblib==1.3.2
keras==2.13.1
matplotlib==3.7.4
nlp-id==0.1.15.0
pandas==2.0.3
scikit-learn==1.2.2
scipy==1.10.1
tensorflow==2.13.0