{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Home
{% endblock title %}
{% block style %}
{% endblock style %}
{% block header %}
{% endblock header %}
{% block content %}
  <div class="row g-2">
    <div class=" col-lg-2 ">
      <div class="d-flex flex-column flex-shrink-0 p-3">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
    <div class="col-lg-10 content">
      {% block admin-content %}
      {% endblock admin-content %}
    </div>
  </div>
{% endblock content %}
