{% extends "sentiment_analysis/admin/admin_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Admin
{% endblock title %}
{% block sidebar %}
  <ul class="nav nav-pills nav-fill flex-column">
    <li class="nav-item">
      <a class="nav-link active"
         aria-current="page"
         href="{% url "admin-index" %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "model-list" %}">Model</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "admin:index" %}">Django Admin</a>
    </li>
  </ul>
{% endblock sidebar %}
{% block admin-content %}
  <div class="row g-2 row-cols-3 align-item-center">
    <div class="col">
      <div class="card text-bg-secondary mb-3">
        <h5 class=" card-header">Pengguna</h5>
        <div class="card-body">
          <h2 class="card-title text-end">{{ users }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-light mb-3">
        <h5 class=" card-header">Prediksi</h5>
        <div class="card-body">
          <h2 class="card-title text-end">{{ predictions }}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-success mb-3">
        <h5 class=" card-header">Model</h5>
        <div class="card-body">
          <h2 class="card-title text-end">{{ lstm_model }}</h2>
        </div>
      </div>
    </div>
  </div>
  {% if pie_chart %}
    <div class="row text-center p-1">
      <div class="col">
        <img src="data:image/png;base64,{{ pie_chart|safe }}"
             height="auto"
             width="500px"
             alt="">
      </div>
    </div>
  {% endif %}
{% endblock admin-content %}
