{% extends "base.html" %}
{% load static %}
{% block title %}
  Analisis Sentimen
{% endblock title %}
{% block header %}
  <header class="bg-dark py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">Analisis Sentimen Ulasan Digital Korlantas</h1>
            <p class="lead text-white-50 mb-4">
              Prediksi sentimen masyarakat melalui ulasan terhadap aplikasi Digital Korlantas di Google Play Store dengan menggunakan LSTM.
            </p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3"
                 href="{% url "analysis-dashboard" %}">Prediksi Sentimen</a>
              <a class="btn btn-outline-light btn-lg px-4"
                 href="https://www.digitalkorlantas.id/">Situs Resmi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}
{% block content %}
  <!-- Features section-->
  <section class="py-5 border-bottom" id="features">
    <h1 class="text-center">Sekilas Tentang Aplikasi Digital Korlantas</h1>
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="h4 fw-bolder">Apa itu aplikasi Digital Korlantas Polri?</h2>
          <p>
            Aplikasi Digital Korlantas POLRI adalah aplikasi resmi dari Korlantas POLRI Indonesia untuk memudahkan masyarakat untuk mendapatkan layanan di Korlantas.
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="h4 fw-bolder">Fitur yang tersedia di aplikasi Digital Korlantas Polri</h2>
          <p>
            Dalam versi yang terbaru pada saat ini, yaitu versi 1.3.1 (20 Desember 2023), hanya fitur perpanjang SIM yang sudah tersedia.
          </p>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="h4 fw-bolder">Install aplikasi Digital Korlantas Polri</h2>
          <p>Aplikasi Digital Korlantas Polri tersedia di Google Play Store dan Apple App Store.</p>
          <p>
            <a class="text-decoration-none"
               href="https://play.google.com/store/apps/details?id=id.qoin.korlantas.user">
              Google Play Store
              <i class="bi bi-arrow-right"></i>
            </a>
          </p>
          <p>
            <a class="text-decoration-none"
               href="https://apps.apple.com/id/app/digital-korlantas-polri/id1565558949">
              App Store
              <i class="bi bi-arrow-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 border-bottom" id="wordcloud">
    <h1 class="text-center">Wordcloud Sentimen</h1>
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h2 class="fw-bolder text-center">Sentimen Positif</h2>
          <img src="{% static 'positive_wordcloud.png' %}"
               class="img-fluid rounded-top"
               alt=""
               height="100%"
               width="100%" />
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h2 class="fw-bolder text-center">Sentimen Negatif</h2>
          <img src="{% static 'negative_wordcloud.png' %}"
               class="img-fluid rounded-top"
               alt=""
               height="100%"
               width="100%" />
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
